<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Driver Dashboard</title>
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    .mydestination,
    .riderlist {
      margin: 2%;
    }

    .destination_table,
    .rider_table {
      margin: 5% 0;
    }

    .button {
      display: block;
      text-align: center;
      margin-top: 1%;
    }
  </style>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
      <a class="navbar-brand" href="#">Carpool</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    
  <div class="container">
    <h2 class="title">Dashboard</h2>
    <section class="destination_table">
      <h4 class="mydestination">My Destination ({date})</h4>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Time / ETA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Starting Point</th>
            <td>{street}</td>
            <td>{city}</td>
            <td>{state}</td>
            <td>{zipcode}</td>
            <td>{time_leaving}</td>
          </tr>
          <tr>
            <th scope="row">Destination</th>
            <td>{street}</td>
            <td>{city}</td>
            <td>{state}</td>
            <td>{zipcode}</td>
            <td>{estimated_time_arrival}</td>
          </tr>
        </tbody>
      </table>
      <p class="mydestination summary">Estimated Price for this trip: ${price}</p>
    </section>

    <section class="rider_table">
      <h4 class="riderlist">Available Rider(s)</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
          </tr>
        </thead>
        <tbody>
          {% for %}
          <tr>
            <th scope="row">{rider first_name} + {rider last_name}</th>
            <td>{street}</td>
            <td>{city}</td>
            <td>{state}</td>
            <td>{zipcode}</td>
          </tr>
          {% end %}
        </tbody>
      </table>
    </section>

    <div class="button">
      <a href="/confirm" class="btn btn-success">Confirm</a>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
